# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Cache
.eslintcache
*.tsbuildinfo
.tsc-output/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
